.content{

    display: grid;
    grid-template-columns:  1fr 5fr;
    grid-template-rows: 1fr 90vh;
}

.header{

    grid-column: 2 / 3;
    background-color: white;
}

.sidebar{
    grid-column: 1 / 2;
    grid-row: 1 / 3;
    background-color: blue;
}

.main{
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    background-color:grey;}